<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477812250726-rft9lqrvcv1v1k8938of4habfvd3j77u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477812250726-rft9lqrvcv1v1k8938of4habfvd3j77u</string>
	<key>API_KEY</key>
	<string>AIzaSyDQDUn2ZufA3GgN-HcxDHOcEtO27E6a-Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>477812250726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naipaka.PushNotificationWithFCM</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationsample-32152</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationsample-32152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477812250726:ios:d9ce2beca69e037edb35a7</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotificationsample-32152.firebaseio.com</string>
</dict>
</plist>